{% extends 'layout/main.html' %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block content %}
  
  <div class="bg-primary">


  <section class="team my-5 text-center" id="Team">
    <div class="container">
      <div class="text-center my-5" data-aos="zoom-in-down" data-aos-offset="200">
        <h1></span>blog</h1>
        <h1> <span class="text-primary">Blogs</span></h1>
        <hr class="w-25 m-auto">
      </div>
      <div class="row" data-aos="flip-right" data-aos-offset="200">
        {% for blog in blogs %}
        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
          <div class="card bg-info text-dark" style="width: 18rem;">
            <img src="{{blog.image.url}}" class="card-img-top" alt="img not found" height="200px">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}} </h5>
              <p class="card-text">{{blog.description|truncatechars:50}} </p>
              <a href="{% url 'blog-detail' blog.slug %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
  </div>
  {% endblock %}