{% extends 'admin/main.html' %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <div class="px-3">
    <h2 class="text-center mb-5">Clients</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
          <tr>
            <td>Mark sang</td>
            <td>system arc</td>
            <td>new york</td>
            <td>54</td>
            <td>2011-04-25</td>
            <td>$320,500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
